<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Suscriptores</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <% suscribers.forEach(suscriber => { %>
                <tr>
                    <td> <%= suscriber.id %> </td>
                    <td> <%= suscriber.email %> </td>
                    <td><button>Editar</button></td>
                    <td>
                        <form action="/admin?_method=put" method="POST">
                            <input type="hidden" name="id" value="<%= suscriber.id %>">
                            <input type="submit" value="Eliminar">
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>