<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LBDS</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div class="container">
        <div class="title-subtitle">
            <h1>La banda de sistemas</h1>
            <h3>Entrevistas a los protagonistas detrás del código</h3>
        </div>
        <div class="form-suscription">
            <form action="/" method="post">
                <div class="input-suscription">
                    <input type="email" name="emailSuscriber" class="email-suscriber">
                    <input type="submit" value="Suscribirse">
                </div>
            </form>
        </div>
    </div>
</body>

</html>