<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LBDS</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div class="container">
        <div class="title-subtitle">
            <h1 class="title">Registro exitoso</h1>
            <h3 class="subtitle">Te llegará un mail que confirma tu suscripción y a partir del próximo sábado comenzarás a recibir el newsletter</h3>
        </div>
    </div>
</body>

</html>